/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/*  css variables */
:root {
  --card-bg-01: #fdefe6;
  --card-bg-02: #d6e5fb;
  --card-bg-03: #ceebe9;
  --card-bg-04: #e2f2b2;
  --primary-color: #0a1d37;
  --hero-bg: #d6e5fb;
  --heading-fontSize: 2rem;
  --small-text-color: #999;
  --heading-text-color: #0a1d37;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
img{
  width: 100%;
}
section{
  padding: 60px 0;
}
.section__title{
  color: var(--primary-color);
  font-weight: 600;
}
// loader
.chaotic-orbit {
  --uib-size: 25px;
  --uib-speed: 1.5s;
  --uib-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: rotate936 calc(var(--uib-speed) * 1.667) infinite linear;
 }
 
 .chaotic-orbit::before,
 .chaotic-orbit::after {
  content: '';
  position: absolute;
  height: 60%;
  width: 60%;
  border-radius: 50%;
  background-color: var(--uib-color);
  will-change: transform;
  flex-shrink: 0;
 }
 
 .chaotic-orbit::before {
  animation: orbit var(--uib-speed) linear infinite;
 }
 
 .chaotic-orbit::after {
  animation: orbit var(--uib-speed) linear calc(var(--uib-speed) / -2)
     infinite;
 }
 
 @keyframes rotate936 {
  0% {
   transform: rotate(0deg);
  }
 
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes orbit {
  0% {
   transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
   opacity: 0.65;
  }
 
  5% {
   transform: translate(calc(var(--uib-size) * 0.4)) scale(0.684208);
   opacity: 0.58;
  }
 
  10% {
   transform: translate(calc(var(--uib-size) * 0.3)) scale(0.631576);
   opacity: 0.51;
  }
 
  15% {
   transform: translate(calc(var(--uib-size) * 0.2)) scale(0.578944);
   opacity: 0.44;
  }
 
  20% {
   transform: translate(calc(var(--uib-size) * 0.1)) scale(0.526312);
   opacity: 0.37;
  }
 
  25% {
   transform: translate(0%) scale(0.47368);
   opacity: 0.3;
  }
 
  30% {
   transform: translate(calc(var(--uib-size) * -0.1)) scale(0.526312);
   opacity: 0.37;
  }
 
  35% {
   transform: translate(calc(var(--uib-size) * -0.2)) scale(0.578944);
   opacity: 0.44;
  }
 
  40% {
   transform: translate(calc(var(--uib-size) * -0.3)) scale(0.631576);
   opacity: 0.51;
  }
 
  45% {
   transform: translate(calc(var(--uib-size) * -0.4)) scale(0.684208);
   opacity: 0.58;
  }
 
  50% {
   transform: translate(calc(var(--uib-size) * -0.5)) scale(0.73684);
   opacity: 0.65;
  }
 
  55% {
   transform: translate(calc(var(--uib-size) * -0.4)) scale(0.789472);
   opacity: 0.72;
  }
 
  60% {
   transform: translate(calc(var(--uib-size) * -0.3)) scale(0.842104);
   opacity: 0.79;
  }
 
  65% {
   transform: translate(calc(var(--uib-size) * -0.2)) scale(0.894736);
   opacity: 0.86;
  }
 
  70% {
   transform: translate(calc(var(--uib-size) * -0.1)) scale(0.947368);
   opacity: 0.93;
  }
 
  75% {
   transform: translate(0%) scale(1);
   opacity: 1;
  }
 
  80% {
   transform: translate(calc(var(--uib-size) * 0.1)) scale(0.947368);
   opacity: 0.93;
  }
 
  85% {
   transform: translate(calc(var(--uib-size) * 0.2)) scale(0.894736);
   opacity: 0.86;
  }
 
  90% {
   transform: translate(calc(var(--uib-size) * 0.3)) scale(0.842104);
   opacity: 0.79;
  }
 
  95% {
   transform: translate(calc(var(--uib-size) * 0.4)) scale(0.789472);
   opacity: 0.72;
  }
 
  100% {
   transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
   opacity: 0.65;
  }
 }
 
 